@(online: Boolean)(env: play.api.Environment, webJarAssets: WebJarAssets)

@main("Airship Game (Tentative Title)") {
  <div style="float:right;color:white;">
    Assets used:
    <ul>
      <li>
        <a href="http://opengameart.org/content/spaceships-from-parts-part2artcom">
          Spaceships From Parts by Skorpio and Wubitog
        </a>
      </li>
      <li>
        <a href="http://opengameart.org/content/clouds-bg-version-2">
          Clouds BG - Version 2 by PumpkinGlitters
        </a>
      </li>
    </ul>
  </p>
  @if(env.mode == play.api.Mode.Prod) {
    <script src="@routes.Assets.versioned("airships-client-opt.js")"></script>
    <script src="@routes.WebJarAssets.at(webJarAssets.locate("pixi.min.js"))"></script>
  } else {
    <script src="@routes.Assets.versioned("airships-client-fastopt.js")"></script>
    <script src="@routes.WebJarAssets.at(webJarAssets.locate("pixi.js"))"></script>
  }
  <script>Main.main(@online)</script>
}
